body,
h1,
h2,
ul,
p {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Georgia, serif;
    font-size: 16px;
    text-align: justify;
}

h1,
h2 {
    font-size: 24px;
}

ul {
    list-style: none;
}

a {
    color: #0050BB;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.github-ribbon {
    position: fixed;
    top: 0px;
    left: 0px;
    border: 0px;
}

.anchor-link {
    color: #EEE;
    padding: 0px 0px 0px 4px;
    font-size: 50%;
}

.anchor-link:hover {
    color: #0050BB;
}

#container {
    width: 800px;
    margin: auto;
    padding-top: 20px;
}

header .avatar {
    float: left;
}

header .title,
header .bio {
    display: block;
    margin-left: 90px;
    line-height: 28px;
}

header .title {
    font-size: 20px;
}

header .bio {
    font-size: 12px;
    font-style: italic;
}

header .rss {
    float: right;
    height: 30px;
    width: 30px;
    margin-top: 15px;
    background: url('/images/rss.png') no-repeat;
}

header a.rss:hover {
    text-decoration: none;
}

#main h2 {
    margin-top: 20px;
    margin-bottom: 5px;
}

#posts {
    color: #93A1A1;
}

#posts,
.famous,
#social,
#summary {
    line-height: 25px;
}

footer {
    margin: 20px 0px;
}

#social {
    float: left;
}

#social .icon {
    padding-left: 25px;
}

#social .github {
    background: url('/images/github.png') no-repeat;
}

#social .twitter {
    background: url('/images/twitter.png') no-repeat;
}

#summary {
    text-align: right;
}
