#post h1 {
    margin-top: 20px;
}

#post .meta {
    color: #93A1A1;
    font-size: 14px;
    font-style: italic;
}

#post .content {
    margin: 15px 0px;
}

#post .content p {
    margin: 15px 0px;
    line-height: 25px;
}

#post .content .fork-and-edit,
#post .content .license {
    margin: 0px;
    text-align: center;
    font-style: italic;
}
