<!doctype html>
<html>
    <head>
        <title>{{ page.title }}</title>

        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/post.css" />
    </head>

    <body>
        <div id="container">
            <header>
                <a href="http://github.com/egeloen/egeloen.github.com">
                    <img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/5d21241b64dc708fcbb701f68f72f41e9f1fadd6/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" />
                </a>
                <img id="avatar" src="https://secure.gravatar.com/avatar/81e83270085f7f733a440c0283c4b39b?size=60" alt="Avatar" />
                <a href="/" class="title">Eric GELOEN</a>
                <a id="rss" href="/atom.xml">&nbsp;</a>
            </header>
            <div id="main" role="main">
                {{ content }}
            </div>
            <footer>
                <ul id="social">
                    <li>
                        <a href="http://www.github.com/egeloen" class="icon github">GitHub</a>
                    </li>
                    <li>
                        <a href="http://www.twitter.com/egeloen" class="icon twitter">Twitter</a>
                    </li>
                </ul>
                <div id="summary">
                    <a href="https://twitter.com/#!/search?q=%23OOP">#OOP</a>, 
                    <a href="https://twitter.com/#!/search?q=%23PHP">#PHP developer</a>, 
                    <a href="https://twitter.com/#!/search?q=%23Symfony2">#Symfony2</a> fan & 
                    <a href="https://twitter.com/#!/search?q=%23BestPratice">#BestPractice</a> lover !
                    <br/>
                    Productive if you let me smoke cigarettes, drink coffee & sleep a little bit :)
                    <br />
                    <a href="mailto:william.durand1@gmail.com">geloen.eric@gmail.com</a>
                </div>
            </footer>
        </div>
    </body>
</html>
